* {
    font-family: 'Montserrat', sans-serif;
}

#monthBtn {
    
    
    justify-content: center;
    align-items: center;
    width:200px;
    height:50px;
    
}

#add1 { 
   position: fixed;
   top:500px;
   right: 780px;
    background:skyblue;
}


img { 
    position:fixed;
    top:550px;
    right:840px;
}

#monthBtn { 
    position:fixed; 
    top:800px;
    right:870px;
}